<div class="clothing-panel">
	{{#each slots as |slot|}}
	<div class="clothing-slot {{#if slot.item}}filled{{else}}empty{{/if}}" 
		 data-slot="{{slot.key}}"
		 title="{{slot.label}}{{#if slot.item}}: {{slot.item.name}}{{/if}}">
		
		{{#if slot.item.img}}
		<img src="{{slot.item.img}}" alt="{{slot.item.name}}">
		{{else}}
		<div class="slot-placeholder">
			<i class="{{slot.icon}}"></i>
		</div>
		{{/if}}

		{{#if slot.item}}
		<div class="remove-item">
			<i class="fas fa-times"></i>
		</div>
		{{/if}}
	</div>
	{{/each}}
</div>

